/* Mise en forme générale */
/* ---------------------- */

footer div, li {
  display: inline-block;
}

body {
  font-family: arial, sans-serif;
  text-align: center; /*pour centrer l'ensemble*/
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 1;
  color: black;
  text-decoration: underline;
}


/* Mise en forme header */
/* -------------------- */

nav {
  text-align: right;
  margin-right: 1.3em;
}

nav > ul > li {
  margin: 0.5em 0.40em 0em 0.40em;
  opacity: 0.8;
}

nav img {
  height: 1.9em;
  width: 1.9em;
  opacity: 0.7;
  vertical-align: middle;
}

nav img:hover {
  opacity: 1;
}

/* rajouter une ombre grise pour le bouton quand on passe la souris avec hover */
#connexion {
  background-color: #4683ea;
  font-weight: bold;
  border-radius: 0.15em;
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  margin-left: 0.4em;
}



/* Mise en forme section */
/* --------------------- */

    /* Mise en forme logo */
    /* ------------------ */

/* #logo *, #logo {
  border: 1px solid black;
} pour m'aider à placer le mot france correctement */

#logo {
  position: relative;
  width: 20em;
  margin: 11em auto 2em auto;
}

section img {
  height: auto;
  width: 21em;
  margin: auto;
  vertical-align: middle;
}

#france {
  color: #4285f4;
  position: absolute;
  top: 3.8em;
  font-size: 1.3em;
  left: 12.8em;
}

    /* Mise en forme input recherche */
    /* ----------------------------- */

.seek input {
  width: 38em;
  height: 2.5em;
  border-radius: 0;
  background-color: white;
  border: 1px solid rgb(210, 217, 215);
  box-shadow: 0.5px 4px 8px rgb(210, 217, 215);
}

    /* Mise en forme boutons recherche */
    /* ------------------------------- */

#recherche p {
  display: inline-block;
  height: 2em;
  width: 9em;
  margin: 2.3em 0.5em 0em 0.5em;
  padding: 0.8em 1.1em 0em 1.1em;
  font-weight: bold;
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);/*background-color: rgb(222, 222, 222);*/
  opacity: 0.6;
  border-radius: 0.4;
}

#recherche p:hover {
  border : 1px solid gray;
  opacity: 1;
  color: black;
}



/* Mise en forme footer */
/* -------------------- */

footer {
  height: 3em;
  width: 100%;
  opacity: 0.7;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;

}
