/* Mise en forme générale */
/* ---------------------- */

footer div, li {
  display: inline-block;
}

body {
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
}

a:hover {
  opacity: 1;
  color: black;
  text-decoration: underline;
}


/* Mise en forme header */
/* -------------------- */

nav {
  text-align: right;
  margin-right: 1em;
}

nav > ul > li {
  margin: 0.5em 0.35em 0em 0.35em;
  opacity: 0.7;
}

nav img {
  height: 1.9em;
  width: 1.9em;
  vertical-align: middle;
}

#connexion {
  background-color: #4683ea;
  font-weight: bold;
  border-radius: 0.15em;
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  margin-left: 0.4em;
}



/* Mise en forme section */
/* --------------------- */

#recherche p {
  display: inline-block;
}
